<network>
  <name>{{ lab_network_name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ lab_network_name }}' stp='on' delay='0'/>
  <domain name='{{ lab_domain }}' localOnly='no'/>
  <dns enable='no'/>
  <ip family='ipv4' address='{{ lab_network_gateway }}' prefix='{{ lab_network_prefix }}'>
  </ip>
</network>
